@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hero__header h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%;
}

.carousel-item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.carousel-item img {
  height: 100vh;
}

@media only screen and (max-width: 1020px) {
  .carousel-item img {
    width: 100%;
    height: 35vh;
  }
}

/* Navbar */
.nav-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link::after {
  content: "";
  display: block;
  border-bottom: 3px solid rgb(2, 119, 191);
  width: 0%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
  transform: translateX(0%);
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 50%;
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #212529;
  }
}

@media only screen and (max-width: 1020px) {
  .nav-link:hover::after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
}
/* End of Navbar */

/* AboutUs page */
.about__header {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/jtother.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  position: relative;
}

@media only screen and (max-width: 1020px) {
  .about__header {
    width: 100%;
    height: 40vh;
  }
}

.about__header h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%;
}

.tab-content {
  padding-bottom: 100px;
}

.nav-tabs {
  overflow: hidden;
}
/* End of AboutUs page */

/* Client Page */
.client__header {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/jtother.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  position: relative;
}

@media only screen and (max-width: 1020px) {
  .client__header {
    width: 100%;
    height: 40vh;
  }
}

.client__header h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%;
}
/* End of Client Page */

/* products page */
.products__header {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../img/jt3.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  position: relative;
}

.products__header p {
  width: 100%;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
}

.products__header h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%;
}

@media only screen and (max-width: 1020px) {
  .products__header {
    width: 100%;
    height: 40vh;
  }
}

.text-box {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 28%;
  width: 100%;
}

.text-box h1 {
  font-size: 88px;
  line-height: 150px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background-image: url("../img/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  width: 100%;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
/* End of products page */

/* Gallery Page */
.gallery__header {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url("../img/coalpix.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  position: relative;
}

@media only screen and (max-width: 1020px) {
  .gallery__header {
    width: 100%;
    height: 40vh;
  }
}

.gallery__header h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%;
}
/* End of Gallery Page */

.about {
  margin-top: 120px;
}

.parallax {
  height: 400;
  background: #000;
  background: linear-gradient (rgba (0, 0, 0, 0.3), rgba (0, 0, 0, 0.8));
  background-image: url("../img/coalpix.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.clients h2 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 5%;
}

.container-parallax {
  padding: 100px 0 150px 0;
}

.clients h3 {
  text-align: center;
}

.clients p {
  text-align: center;
}

.con h3 {
  text-align: center;
}

.products h3 {
  text-align: center;
}

.products p {
  border-bottom: 10px #000;
  display: block;
}

.tab-pane {
  overflow-y: scroll;
}

/* Contact Us */
.contact__header {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url("../img/coalpix.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  position: relative;
}

.contact__header h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%;
}

.location {
  width: 80%;
  margin: auto;
  padding: 80px o;
  margin-bottom: 50px;
}

.location iframe {
  width: 100%;
}
/* End of Contact Us */

.animate__fadeInDown {
  width: 100%;
}

/* Footer */
.footer {
  bottom: 0;
  background: linear-gradient(to right, #10069c, #0277bf);
  color: rgb(0, 0, 0);
  padding: 100px 0 30px;
  border-top-left-radius: 1px;
  font-size: 13px;
  line-height: 20px;
}

.footer h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.credit {
  margin-top: 50px;
}
/* End of Footer */
